@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

p {
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

h1{
    color: #F39209;
    text-align: 1px 2px 1px black;
}

h2{
    color: #4783f2;
}

body{
    background-image: linear-gradient(to right, #223240, #3B8C66, #347355, #60BF81, #9FD948);
}