@charset "UTF-8";
@font-face{
    font-family: 'fonteGeral';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(137, 241, 137);
    line-height: 2em;
    font-family:  Arial, Helvetica, sans-serif;
}
a.externo:after{
    content: '\00A0\1F4CE';
}

h1{
    font-family: fonteGeral;
    color: green;
    text-indent: 1em;
    padding: 15px;
}

h2{
    background-image: linear-gradient(to right,rgb(107, 231, 107), transparent);
    font-family: fonteGeral;
    color: green;
    text-indent: 1em;
    margin-top: 15px;
}

header{
    background-image: linear-gradient(to bottom, rgb(34, 224, 34), rgb(17, 114, 17) );
    color: white;   
    box-shadow: 0px 0px 10px black;
    height: 150px;
    text-align: center;
}

header>h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(20, 20, 20, 0.445);
}

header>p{
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 30px;
    max-width: 600px;
    padding-left: 10px;   
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(20, 20, 20, 0.322);
}

nav{
    padding: 10px;
    background-color: rgb(17, 114, 17);
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.479);
}
 nav>a{
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
 }

 nav>a:hover{
    background-color: green;
    color: greenyellow;
 }

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 0px 15px 0px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main img{
    
    margin: 20px auto 20px auto;
    width: 100%;
}

main img.pequena{
    max-width: 400px;
    margin: auto;
    display: block;
}

main p{
    text-indent: 1em;
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: rgb(11, 87, 11);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: green;
    background-color: rgb(35, 231, 35);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: none;
    color: rgb(8, 88, 8);
}

div.painel{
    background-color: green;
    margin: 0px -16px 30px -16px; 
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.painel > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
 
.painellista{
    background-color: rgb(137, 241, 137);
    border-radius: 20px;
    padding: 10px;
    margin: 35px;
    width: 105vh;
    height: 60vh;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.384);
}

.painellista>h3{
    border-radius: 20px 20px 0px 0px;
    text-indent: 1em;
    margin: -10px -10px 0px -10px;
    background-color: green;
    color: white;
}

.painellista>ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
        padding: 8px;
        background-color: green;
        color: whitesmoke;
        text-align: center;
        font-size: 0.8em;
    }

    footer > a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }
    
    footera:hover{
        text-decoration: underline;
        columns: rgb(35, 255, 35);
    }